# Python environments
venv/
env/
.venv/

# Cache
__pycache__/
*.pyc

# Installed libraries
twilio/

# OS junk
*.log

biztrack.db
*.csv
biztrack_db


*/conda-meta/
*/pkgs/
*/Library/
*/Scripts/
*/Include/

# Ignore version-like folders (e.g., 0.14.0, 2.1.0)
[0-9]*.[0-9]*.[0-9]*/